app-top-banner{
  .banner-content{
    text-align: end;
    background: antiquewhite;
    height: 4rem;
  }

  .marg-0{
    margin: 0;
    font-size: 2.25rem;
  }

  .content-align{
    top: 0.5rem;
    right: 2.7rem;
  }
}
