app-home{
  .banner-content{
    text-align: end;
    padding: 15px;
  }

  .main-banner{
    height: 450px;
    background: antiquewhite;
  }

  .top-space{
    margin-top: 10%;
  }

  .title-pos{
    text-align: end;
    top: 12rem;
    right: 2rem;
  }

  .fntSize{
    font-size: 3.5rem;
  }

  .fntStyle{
    font-style: oblique;
  }
}
